In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

import warnings
warnings.filterwarnings('ignore')

1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [2]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.amazon.in')

In [3]:
prod = input('Enter what you want to search :')

Enter what you want to search :guitar

In [4]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys(prod)
search.submit()

2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [92]:
name,price,dilevery,url = [],[],[],[]
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [94]:
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[66]/div/div/span/a[3]')
nex.click()

In [95]:
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [98]:
nex = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[65]/div/div/span/a[4]')
nex.click()

In [99]:
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-size-base-plus a-color-base a-text-normal']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-price-whole']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class = 'a-color-base a-text-bold']"):
    dilevery.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = 'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    url.append(i.get_attribute('href'))

In [100]:
len(name),len(price),len(dilevery),len(url)

(184, 185, 182, 184)

In [108]:
guti = pd.DataFrame({'Brand Name':name[0:182],'Price':price[0:182],'Expected Dilevery':dilevery,'Product URL':url[0:182],'Availability':'Available'})

In [110]:
guti.to_csv('guitar.csv')

In [112]:
df = pd.read_csv('guitar.csv')
df

,Unnamed: 0,Brand Name,Price,Expected Dilevery,Product URL,Availability
0,0,"Kadence Frontier Series, Acoustic Guitar With/...","9,999","Sunday, July 31",https://www.amazon.in/gp/slredirect/picassoRed...,Available
1,1,Kadence Frontier Jumbo Semi Acoustic Guitar Wi...,"4,582","Monday, August 1",https://www.amazon.in/gp/slredirect/picassoRed...,Available
2,2,"Photron Acoustic Guitar, 38 inches Cutaway, PH...","7,348","Sunday, July 31",https://www.amazon.in/gp/slredirect/picassoRed...,Available
3,3,"Blueberry 38C, 38"" Acoustic Guitar Kit with Ba...","2,490","Monday, August 1",https://www.amazon.in/gp/slredirect/picassoRed...,Available
4,4,"Intern INT-38C Acoustic Guitar Kit, With Bag, ...","2,695","Friday, July 29",https://www.amazon.in/Intern-INT-38C-Acoustic-...,Available
...,...,...,...,...,...,...
177,177,Givson Venus Special Cutaway Rosewood 41 Inch ...,"4,199","Monday, August 1",https://www.amazon.in/Special-Cutaway-Rosewood...,Available
178,178,Yamaha Acoustic Guitar F280 Dreadnought With M...,"9,190","Monday, August 1",https://www.amazon.in/Acoustic-F280-Dreadnough...,Available
179,179,Gibz's G-38 Glossy Acoustic Guitar With Truss ...,"3,478","Thursday, July 28",https://www.amazon.in/Gibzs-38-C-Acoustic-Guit...,Available
180,180,HOMME STORE 4 String Guitar Kids Brown Plastic...,899,"Saturday, July 30",https://www.amazon.in/gp/slredirect/picassoRed...,Available
181,181,SHARE BY Blueberry R-40- Trussrod Acoustic Gui...,"4,500","Sunday, July 31",https://www.amazon.in/gp/slredirect/picassoRed...,Available

In [126]:
driver.close()

3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [128]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://images.google.com')

In [129]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
search.send_keys('fruits')
search.submit()

In [150]:
imag = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    imag.append(i.get_attribute('src'))

In [155]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('cars')
search.submit()

In [156]:
car = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    car.append(i.get_attribute('src'))

In [158]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('machine learning')
search.submit()

In [161]:
ml = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    ml.append(i.get_attribute('src'))

In [164]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('guitar')
search.submit()

In [165]:
guitar = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    guitar.append(i.get_attribute('src'))

In [168]:
search = driver.find_element(By.XPATH,'/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
search.clear()
delay = 2
search.send_keys('cake')
search.submit()

In [169]:
cake = []
for i in driver.find_elements(By.XPATH,'//img[@class = "rg_i Q4LuWd"]'):
    cake.append(i.get_attribute('src'))

In [180]:
d = pd.DataFrame({'Fruits':imag[0:10],'Cars':car[0:10],'Machine Learning':ml[0:10],'Guitar':guitar[0:10],'Cake':cake[0:10]})

In [181]:
d.to_csv('image.csv')

In [185]:
di = pd.read_csv('image.csv')
di.drop('Unnamed: 0',axis =1)

,Fruits,Cars,Machine Learning,Guitar,Cake
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [186]:
driver.close()

4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [250]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https:www.flipkart.com')

In [251]:
close = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [252]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('oneplus nord')
search.submit()

In [253]:
brand,name,color = [],[],[]
for i in driver.find_elements(By.XPATH,'//div[@class = "_4rR01T"]'):
    brand.append(i.text.split(' ')[0])
    name.append(i.text)
    co = i.text.split('(')[-1]
    color.append(co.split(',')[0])

In [254]:
ram,rom,pc,display,battery = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]'):
    display.append(i.text.split('\n')[1])
    battery.append(i.text.split('\n')[-2])
    
    ra = i.text.split('\n')[0]
    ram.append(ra.split('|')[0])
    rom.append(ra.split('|')[1])
    
    cam = i.text.split('\n')[2]
    pc.append(cam.split('|')[0])

In [266]:
price,link = [],[]
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]'):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//a[@class = '_1fQZEK']"):
    link.append(i.get_attribute('href'))

In [268]:
len(brand),len(name),len(color),len(ram),len(rom),len(pc),len(display),len(battery),len(price),len(link)

(24, 24, 24, 24, 24, 24, 24, 24, 24, 24)

In [269]:
pho = pd.DataFrame({'Brand Name':brand,'Smartphone Name':name,'Color':color,'RAM':ram,'Storage(ROM)':rom,'Camera':pc,'Display':display,'Battery':battery,'Price':price,'URL':link})

In [271]:
pho.to_csv('Phone.csv')

In [273]:
pd.read_csv('Phone.csv').head()

,Unnamed: 0,Brand Name,Smartphone Name,Color,RAM,Storage(ROM),Camera,Display,Battery,Price,URL
0,0,OnePlus,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",Blue Tide,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹19,858",https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,1,OnePlus,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",Black Dusk,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹19,900",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,2,OnePlus,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",Blue Tide,8 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹21,999",https://www.flipkart.com/oneplus-nord-ce-2-lit...
3,3,OnePlus,"OnePlus Nord 2T 5G (Jade Fog, 128 GB)",Jade Fog,8 GB RAM,128 GB ROM,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,999",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
4,4,OnePlus,"OnePlus Nord 2 5G (Blue Haze, 128 GB)",Blue Haze,8 GB RAM,128 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹29,125",https://www.flipkart.com/oneplus-nord-2-5g-blu...

In [275]:
driver.close()

5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [22]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.google.com/maps')

In [23]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]')
search.send_keys('Mumbai')

In [24]:
loc = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[2]/div[2]/div[1]/div/div/div[1]/div/div[2]/div/div/div[1]')
loc.click()

In [25]:
time.sleep(5)
url = driver.current_url

In [26]:
ll = url.split('/')[-2]

In [27]:
lat = ll.split(',')[0].replace('@','')
lon = ll.split(',')[1]

In [28]:
print('Latitude = ',lat)
print('Longitude = ',lon)

Latitude =  19.0821978
Longitude =  72.7410979

In [29]:
driver.close()

6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [45]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.trak.in')

In [47]:
button = driver.find_element(By.XPATH,'//li[@id="menu-item-51510"]/a').get_attribute('href')
driver.get(button)

In [52]:
jan = driver.find_element(By.XPATH,'//h2[@class="tablepress-table-name tablepress-table-name-id-54"]')

In [54]:
ta= driver.find_element(By.XPATH,'//div[@id = "tablepress-54_wrapper"]')

In [58]:
january = ta.text.split('\n')[8:17]

In [59]:
time.sleep(2)
feb = driver.find_element(By.XPATH,'//h2[@class="tablepress-table-name tablepress-table-name-id-55"]')

In [61]:
ta2= driver.find_element(By.XPATH,'//div[@id = "tablepress-55_wrapper"]')

In [62]:
february = ta2.text.split('\n')[8:17]

In [64]:
time.sleep(2)
mar = driver.find_element(By.XPATH,'//h2[@class="tablepress-table-name tablepress-table-name-id-56"]')

In [65]:
ta3 = driver.find_element(By.XPATH,'//div[@id = "tablepress-56_wrapper"]')

In [66]:
march = ta3.text.split('\n')[8:17]

In [75]:
funding = pd.DataFrame({'January':january,'February':february,'March':march})
funding

,January,February,March
0,1 15/01/2021 Digit Insurance Financial Service...,1 11/02/2021 Doubtnut Edu Tech E-Learning Plat...,1 04/03/2021 DealShare E-commerce Online shopp...
1,2 28/01/2021 Bombay Shaving Company Consumer G...,2 22/02/2021 Zomato Hospitality Online Food De...,2 31/03/2021 Uniphore Technology Conversationa...
2,3 19/01/2021 DeHaat AgriTech Startup online ma...,3 19/02/2021 Fingerlix Hospitality Semi-cooked...,3 30/03/2021 Dunzo E-commerce Hyper-local deli...
3,4 19/01/2021 Darwinbox SaaS HR Tech Mumbai Sal...,4 17/02/2021 Zolve FinTech Global Neobank Vent...,4 30/03/2021 BYJU’S Edu-tech Online tutoring B...
4,5 18/01/2021 mfine Health Tech Startup AI-powe...,5 15/02/2021 KreditBee Finance Digital lending...,5 23/03/2021 SkilloVilla Edu-tech Career and j...
5,6 18/01/2021 Udayy EdTech Online learning plat...,6 12/02/2021 Pepperfry E-commerce Multi-brand ...,6 25/03/2021 CityMall E-commerce Social ecomme...
6,7 11/01/2021 True Elements Food Startup Whole ...,7 12/02/2021 Grofers E-Commerce Online superma...,7 26/03/2021 DotPe FinTech Commerce and paymen...
7,8 13/01/2021 Saveo B2B E-commerce Pharmacies B...,8 09/02/2021 Nothing Technology Consumer Techn...,Showing 1 to 7 of 7 entries
8,Showing 1 to 8 of 8 entries,9 09/02/2021 SplashLearn EdTech Game-based lea...,PreviousNext

7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [298]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.digit.in')

In [300]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[2]/a/img')
search.click()
delay = 2
here = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/input')
here.send_keys('Best gaming laptop' + '\n')

In [310]:
laptop,date = [],[]
for i in driver.find_elements(By.XPATH,'//div[@class="searchProduct-desc"]'):
    laptop.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class = "searchPage"]'):
    date.append(i.text.split('\n')[-1])

In [313]:
len(date),len(laptop)

(10, 10)

In [314]:
dig = pd.DataFrame({'Laptop Name':laptop,'Date':date})

In [315]:
dig.to_csv('digit.csv')

In [316]:
pd.read_csv('digit.csv').head()

   Unnamed: 0               Laptop Name          Date
0           0        Asus G750JX-CV069P  Nov 22, 2021
1           1              MSI GE60 2PE  Apr 09, 2019
2           2     Asus TUF Gaming FX505  Jun 21, 2022
3           3  Dell Alienware (17-inch)  Nov 08, 2021
4           4     Sony PlayStation Vita  Feb 18, 2012

8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be
scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [359]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.forbes.com')

In [360]:
expl = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[1]/button[1]')
expl.click()
time.sleep(2)

In [361]:
bill = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[3]/ul/li[1]')
bill.click()

In [362]:
al = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[2]/a')
al.click()
time.sleep(2)

In [364]:
rank,nam,net,age,sou,indust = [],[],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//div[@class="table-row "]'):
    rank.append(i.text.split('\n')[0])
    nam.append(i.text.split('\n')[1])
    net.append(i.text.split('\n')[2])
    age.append(i.text.split('\n')[3])
    sou.append(i.text.split('\n')[4])
    indust.append(i.text.split('\n')[5])

In [367]:
len(rank),len(nam),len(net),len(age),len(sou),len(indust)

(200, 200, 200, 200, 200, 200)

In [368]:
billa = pd.DataFrame({'Rank':rank,'Name':nam,'Net Worth':net,'Age':age,'Source':sou,'Industry':indust})

In [370]:
billa.to_csv('Billionaries.csv')

In [372]:
pd.read_csv('Billionaries.csv').head()

,Unnamed: 0,Rank,Name,Net Worth,Age,Source,Industry
0,0,1.0,Elon Musk,$219 B,50.0,United States,"Tesla, SpaceX"
1,1,2.0,Jeff Bezos,$171 B,58.0,United States,Amazon
2,2,3.0,Bernard Arnault & family,$158 B,73.0,France,LVMH
3,3,4.0,Bill Gates,$129 B,66.0,United States,Microsoft
4,4,5.0,Warren Buffett,$118 B,91.0,United States,Berkshire Hathaway

In [373]:
driver.close()

9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted
from any YouTube Video.

In [117]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.youtube.com')

In [134]:
search = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/div/ytd-masthead/div[3]/div[2]/ytd-searchbox/form/div[1]/div[1]/input')
search.send_keys('Chaand Baaliyan - Aditya A. (Official Video)')
search.submit()
delay = 5

In [135]:
song = driver.find_element(By.XPATH,'/html/body/ytd-app/div[1]/ytd-page-manager/ytd-search/div[1]/ytd-two-column-search-results-renderer/div/ytd-section-list-renderer/div[2]/ytd-item-section-renderer/div[3]/ytd-video-renderer[1]/div[1]/div/div[1]/div/h3/a/yt-formatted-string')
song.click()

In [136]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [146]:
op = []
for i in driver.find_elements(By.XPATH,'//div[@class="style-scope ytd-expander"]'):
    op.append(i.text)

In [154]:
time = []
for i in driver.find_elements(By.XPATH,'//a[@class="yt-simple-endpoint style-scope yt-formatted-string"]'):
    time.append(i.text)

In [164]:
ti = time[79:579]

In [152]:
co = op[2:502]

In [165]:
len(ti),len(co)

(500, 500)

In [167]:
comment = pd.DataFrame({'Comments':co,'Time':ti})

In [168]:
comment.to_csv('Youtube.csv')

In [170]:
df = pd.read_csv('Youtube.csv')
df.tail()

,Unnamed: 0,Comments,Time
495,495,Amazing,2 weeks ago
496,496,i love this song,1 month ago
497,497,Spotify bring me here.... \nThose who have pre...,2 months ago
498,498,Beautiful and very soothing. Lirics absolutely...,1 month ago
499,499,This song very very nice,8 days ago

10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description

In [247]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.hostelworld.com')

In [232]:
try:
    search = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/div/input')
    search.send_keys('london' + '\n')
    
    lon = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]')
    lon.click()
    
    
    go = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[5]/button')
    go.click()
    
    
except NoSuchElementException:
    driver.get('https://www.hostelworld.com/s?q=London,%20England&country=England&city=London&type=city&id=3&from=2022-08-01&to=2022-08-04&guests=2&HostelNumber=&page=1')

In [233]:
name,dist,rat,price = [],[],[],[]
for i in driver.find_elements(By.XPATH,'//div[@class="property"]'):
    name.append(i.text.split('\n')[0])
    dist.append(i.text.split('\n')[1])
    rat.append(i.text.split('\n')[-3])
    review.append(i.text.split('\n')[-1])
for i in driver.find_elements(By.XPATH,'//div[@class="price title-5"]'):
    price.append(i.text)

In [234]:
len(name),len(dist),len(rat),len(price)

(33, 33, 33, 36)

In [235]:
lin,des,fac,review = [],[],[],[]
url = driver.find_elements(By.XPATH,'//a[@class="view-button"]')
for i in url:
    lin.append(i.get_attribute('href'))

In [236]:
for i in lin:
    driver.get(i)
    time.sleep(2)
    try:
        de = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[1]/section/div[6]/div/div[2]/div/div/div[2]')
        des.append(de.text)
        
        fa = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[1]/section/div[10]/div/ul')
        fac.append(fa.text.replace('\n',','))
        
        re = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[1]/section/div[9]/div[1]/div/div[1]')
        review.append(re.text)
        
    except NoSuchElementException:
        des.append('-')

In [238]:
len(fac),len(des),len(review)

(30, 44, 16)

In [239]:
lon = pd.DataFrame({'Hostel Name':name[0:30], 'Distance from City Centre':dist[0:30], 'Rating':rat[0:30], 'Price':price[0:30], 'Facilities':fac[0:30], 'Property Description':des[0:30]})

In [241]:
lon.to_csv('Hostel.csv')

In [244]:
df = pd.read_csv('Hostel.csv')
df.head(5)

,Unnamed: 0,Hostel Name,Distance from City Centre,Rating,Price,Facilities,Property Description
0,0,Palmers Lodge - Swiss Cottage,Hostel - 6.5km from city centre,8.8,Rs1901,"Free,Linen Included Free City Maps Free WiFi F...","Whether you're a backpacker, flash-packer or a..."
1,1,Selina Camden,Hostel - 5.5km from city centre,8.6,Rs25504,"Free,Linen Included Towels Included Free WiFi,...","Among underground music venues, innovative mus..."
2,2,St Christopher's Village,Hostel - 1.8km from city centre,8.1,Rs9312.71 Rs7916,"Free,Linen Included Free City Maps Free WiFi F...",COVID 19 Policy Update.\nIn response to Corona...
3,3,Palmers Lodge - Swiss Cottage,Hostel - 6.5km from city centre Show on Map,8.8,Rs1770.01 Rs1593,"Free,Linen Included Free City Maps Free WiFi F...",A safe haven in the middle of the metropolis: ...
4,4,Selina Camden,Hostel - 5.5km from city centre Show on Map,8.6,Rs16492.65 Rs13689,"Security,8.4,Location,8.9,Staff,7.9,Atmosphere...",Generator London is a design hotel-hostel loca...

In [248]:
driver.close()