In [84]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

import time
import warnings
warnings.filterwarnings('ignore')

## Carwale.com

In [85]:
driver = webdriver.Chrome(r'/Users/mitssverma/FlipRobo/chromedriver')
driver.get('https://www.carwale.com/used/cars-for-sale/#sc=-1&so=-1&pn=5&lcr=96&ldr=0&lir=0')

In [86]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,500)")

In [87]:
name,year,km,fuel,city,price = [],[],[],[],[],[]

In [88]:
for i in driver.find_elements(By.XPATH,'//span[@class="spancarname card-detail-block__title-text-with-year"]'):
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('-')
        
for i in driver.find_elements(By.XPATH,'//span[@class="slYear card-detail-block__title-text-with-year"]'):
    try:
        year.append(i.text)
    except NoSuchElementException:
        year.append('-')
        
for i in driver.find_elements(By.XPATH,'//span[@class="slkms"]'):
    try:
        km.append(i.text)
    except NoSuchElementException:
        km.append('-')
        
for i in driver.find_elements(By.XPATH,'//span[@class="fuel"]'):
    try:
        fuel.append(i.text)
    except NoSuchElementException:
        fuel.append('-')
        
for i in driver.find_elements(By.XPATH,'//span[@class="cityName"]'):
    try:
        city.append(i.text)
    except NoSuchElementException:
        city.append('-')
        
for i in driver.find_elements(By.XPATH,'//span[@class="rupee-lac slprice"]'):
    try:
        price.append(i.text)
    except NoSuchElementException:
        price.append('-')

In [89]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(248, 248, 248, 248, 248, 248)

## CarDekho.com

**- Pune**

In [90]:
driver.get('https://www.cardekho.com/used-cars+in+pune')

In [91]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,300)")

In [92]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]'):
        name.append(i.text.split('\n')[0])
        year.append(i.text.split('\n')[0].split(' ')[0])
        km.append(i.text.split('\n')[-4])
        fuel.append(i.text.split('\n')[-3])
        city.append('Pune')
except NoSuchElementException:
    name.append('-')
    year.append('-')
    km.append('-')
    fuel.append('-')
    city.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="amnt "]'):
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [93]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(1274, 1274, 1274, 1274, 1274, 1274)

**- Mumbai**

In [94]:
driver.get('https://www.cardekho.com/used-cars+in+mumbai')

In [95]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,100)")

In [96]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]'):
        name.append(i.text.split('\n')[0])
        year.append(i.text.split('\n')[0].split(' ')[0])
        km.append(i.text.split('\n')[-4])
        fuel.append(i.text.split('\n')[-3])
        city.append('Mumbai')
except NoSuchElementException:
    name.append('-')
    year.append('-')
    km.append('-')
    fuel.append('-')
    city.append('-')
    
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="amnt "]'):
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [97]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(1814, 1814, 1814, 1814, 1814, 1814)

**- Delhi**

In [98]:
driver.get('https://www.cardekho.com/used-cars+in+delhi-ncr')

In [99]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,100)")

In [100]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]'):
        name.append(i.text.split('\n')[0])
        year.append(i.text.split('\n')[0].split(' ')[0])
        km.append(i.text.split('\n')[-4])
        fuel.append(i.text.split('\n')[-3])
        city.append('Delhi')
except NoSuchElementException:
    name.append('-')
    year.append('-')
    km.append('-')
    fuel.append('-')
    city.append('-')
    
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="amnt "]'):
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [101]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(2414, 2414, 2414, 2414, 2414, 2414)

**- Ahemdabad**

In [102]:
driver.get('https://www.cardekho.com/used-cars+in+ahmedabad')

In [103]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,80)")

In [104]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]'):
        name.append(i.text.split('\n')[0])
        year.append(i.text.split('\n')[0].split(' ')[0])
        km.append(i.text.split('\n')[-4])
        fuel.append(i.text.split('\n')[-3])
        city.append('Ahemdabad')
except NoSuchElementException:
    name.append('-')
    year.append('-')
    km.append('-')
    fuel.append('-')
    city.append('-')
    
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="amnt "]'):
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [105]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(2894, 2894, 2894, 2894, 2894, 2894)

**- Bangalore**

In [106]:
driver.get('https://www.cardekho.com/used-cars+in+bangalore')

In [107]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,100)")

In [108]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]'):
        name.append(i.text.split('\n')[0])
        year.append(i.text.split('\n')[0].split(' ')[0])
        km.append(i.text.split('\n')[-4])
        fuel.append(i.text.split('\n')[-3])
        city.append('Bangalore')
except NoSuchElementException:
    name.append('-')
    year.append('-')
    km.append('-')
    fuel.append('-')
    city.append('-')
    
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="amnt "]'):
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [109]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(3214, 3214, 3214, 3214, 3214, 3214)

**- Hyderabad**

In [110]:
driver.get('https://www.cardekho.com/used-cars+in+hyderabad')

In [111]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,100)")

In [112]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]'):
        name.append(i.text.split('\n')[0])
        year.append(i.text.split('\n')[0].split(' ')[0])
        km.append(i.text.split('\n')[-4])
        fuel.append(i.text.split('\n')[-3])
        city.append('Hyderabad')
except NoSuchElementException:
    name.append('-')
    year.append('-')
    km.append('-')
    fuel.append('-')
    city.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="amnt "]'):
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [113]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(3814, 3814, 3814, 3814, 3814, 3814)

## CarTrade.com

In [114]:
driver.get('https://www.cartrade.com/buy-used-cars/#sc=-1&so=-1&pn=1')

In [115]:
try:
    for i in driver.find_elements(By.XPATH,'//h2[@class="h2heading truncate"]'):
        name.append(i.text)
        year.append(i.text.split(' ')[0])
except NoSuchElementException:
    name.append('-')
    year.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="cr_prc"]'):
        price.append(i.text.split(' ')[0])
except NoSuchElementException:
    price.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="info_cr_new"]'):
        km.append(i.text.split('\n')[0])
        fuel.append(i.text.split('\n')[1])
        city.append(i.text.split('\n')[2])

except NoSuchElementException:
    km.append('-')
    fuel.append('-')
    city.append('-')

In [116]:
nex = driver.find_element(By.XPATH,'/html/body/div[6]/div[2]/div[1]/div[2]/div[4]/div[2]/div/div/ul/li[4]/a')
nex.click()

In [117]:
try:
    for i in driver.find_elements(By.XPATH,'//h2[@class="h2heading truncate"]'):
        name.append(i.text)
        year.append(i.text.split(' ')[0])
except NoSuchElementException:
    name.append('-')
    year.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="cr_prc"]'):
        price.append(i.text.split(' ')[0])
except NoSuchElementException:
    price.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="info_cr_new"]'):
        km.append(i.text.split('\n')[0])
        fuel.append(i.text.split('\n')[1])
        city.append(i.text.split('\n')[2])

except NoSuchElementException:
    km.append('-')
    fuel.append('-')
    city.append('-')

In [118]:
nex = driver.find_element(By.XPATH,'/html/body/div[6]/div[2]/div[1]/div[2]/div[4]/div[2]/div/div/ul/li[6]/a')
nex.click()

In [119]:
try:
    for i in driver.find_elements(By.XPATH,'//h2[@class="h2heading truncate"]'):
        name.append(i.text)
        year.append(i.text.split(' ')[0])
except NoSuchElementException:
    name.append('-')
    year.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="cr_prc"]'):
        price.append(i.text.split(' ')[0])
except NoSuchElementException:
    price.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="info_cr_new"]'):
        km.append(i.text.split('\n')[0])
        fuel.append(i.text.split('\n')[1])
        city.append(i.text.split('\n')[2])

except NoSuchElementException:
    km.append('-')
    fuel.append('-')
    city.append('-')

In [120]:
nex = driver.find_element(By.XPATH,'/html/body/div[6]/div[2]/div[1]/div[2]/div[4]/div[2]/div/div/ul/li[7]/a')
nex.click()

In [121]:
try:
    for i in driver.find_elements(By.XPATH,'//h2[@class="h2heading truncate"]'):
        name.append(i.text)
        year.append(i.text.split(' ')[0])
except NoSuchElementException:
    name.append('-')
    year.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="cr_prc"]'):
        price.append(i.text.split(' ')[0])
except NoSuchElementException:
    price.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="info_cr_new"]'):
        km.append(i.text.split('\n')[0])
        fuel.append(i.text.split('\n')[1])
        city.append(i.text.split('\n')[2])

except NoSuchElementException:
    km.append('-')
    fuel.append('-')
    city.append('-')

In [122]:
nex = driver.find_element(By.XPATH,'/html/body/div[6]/div[2]/div[1]/div[2]/div[4]/div[2]/div/div/ul/li[7]/a')
nex.click()

In [123]:
try:
    for i in driver.find_elements(By.XPATH,'//h2[@class="h2heading truncate"]'):
        name.append(i.text)
        year.append(i.text.split(' ')[0])
except NoSuchElementException:
    name.append('-')
    year.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="cr_prc"]'):
        price.append(i.text.split(' ')[0])
except NoSuchElementException:
    price.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="info_cr_new"]'):
        km.append(i.text.split('\n')[0])
        fuel.append(i.text.split('\n')[1])
        city.append(i.text.split('\n')[2])

except NoSuchElementException:
    km.append('-')
    fuel.append('-')
    city.append('-')

In [124]:
len(name),len(year),len(km),len(fuel),len(city),len(price)

(3942, 3942, 3942, 3942, 3942, 3942)

In [182]:
car = pd.DataFrame({'Name':name,'Year':year,'Fuel':fuel,'Driven(km)':km,'City':city,'Price':price})
car.head()

                           Name  Year    Fuel Driven(km)    City         Price
0     Honda Amaze 1.2 VX i-VTEC  2017  Petrol  98,055 km    Pune    ₹ 5.7 Lakh
1        Nissan Micra Active XV  2016  Petrol  45,227 km  Bhopal   ₹ 3.85 Lakh
2  Renault Kwid RXT [2015-2019]  2017  Petrol  48,000 km   Noida   ₹ 2.75 Lakh
3                 Honda City VX  2021  Petrol   1,500 km  Mumbai  ₹ 13.65 Lakh
4              BMW X1 sDrive20d  2012  Diesel  61,000 km  Mumbai   ₹ 12.5 Lakh

In [183]:
car.to_csv('car_predict.csv')